experiments/plant_seedlings/data/raw/** filter=lfs diff=lfs merge=lfs -text
experiments/forest_covertype/data/*.csv filter=lfs diff=lfs merge=lfs -text
experiments/ufo_sightings/data/*.csv filter=lfs diff=lfs merge=lfs -text
