# pycache
__pycache__/

# ds_store
.DS_Store

# db files
*.db

#/data folders (recursive in case there are multiple in non-root folders)
data/



# test stuff
.coverage

# packaging/build artifacts
build/
*.egg-info/
dist/
